<html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>My Porfolio</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');.autour-one-regular {
  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
}

</style>
<body>
<header style="background-color:03373A;
    min-height:5%;
    padding-top: 5%;
    padding-bottom: 5%;">
    <h1 style="color:#dac4d0;font-family:Autour One; font-size:200%; text-align:center;">My Portfolio</h1>
</header>
<article style="
  float: left;
  padding: 20px;
  width: 70%;
  background-color: #757474;
  height: 300px;">
  <h1>Hello People!</h1>

</article>
<section::after style="
  content: '';
  display: table;
  clear: both;">
  </section::after>
</body>





</html>
