<html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>My Porfolio</title>
</head>
<style>
@import url('https://fonts.googleapis.com/css2?family=Autour+One&display=swap');.autour-one-regular {
  font-family: "Autour One", system-ui;
  font-weight: 400;
  font-style: normal;
}
<ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

</style>
<body>

<header style="background-color:03373A;
    min-height:5%;
    padding-top: 5%;
    padding-bottom: 5%;">
    <h1 style="color:#dac4d0;font-family:Autour One; font-size:200%; text-align:center;">My Portfolio</h1>
</header>
<nav class="navbar">
    <div class="logo">MyWebsite</div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    
  </nav>
<aside style="
  float: left;
  padding: 20px;
  width: 45%;
  background-color: #757474;
  height: 300px;">
  <h1 style="background-color: aliceblue;"><b>Hello People!</b></h1>

</aside>
<aside style="
  float: right;
  padding: 20px;
  width: 45%;
  background-color: #9695b0;
  height: 300px;">
  <h1 style="background-color:violet;"> HIIIIII</h1>
  <p>HIIIII</p>
  </aside>
<section::after style="
  content: '';
  display: table;
  clear: both;">
  <p>Hello!</p>
  </section::after>

</body>





</html>
